*{
    margin: 0;
    box-sizing: border-box;
}

:root{
 --bg-color : #f6f7f8;
 --snd-color : #dbdbdb;
 --focus-color : #5ec0e9;
}

main{
    background-color: var(--bg-color);
}

body{
    min-height: 100vh;
}

.form{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.seperator{
    width: 1px;
    height: 200px;
    background-color: var(--snd-color);
}

.typeOfTask, .priority{
    display: flex;
    flex-direction: column;
}

.typeOfTask, .priority{
    padding: 24px;
}

.typeOfTask, .priority, .seperator{
    margin-top: auto;
    margin-bottom: auto;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

mark{
    background-color: var(--bg-color);
    color: red;
}

input, textarea{
    border: 1px solid var(--snd-color);
    border-radius: 5px;
}

input:focus, textarea:focus{
    border-color: var(--focus-color);
    outline: none;
}