h1 {
  font-size: 61px;
}

.main-board {
  margin-left: 232px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
  background-color: var(--bg-color);
}

.headline {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  align-items: center;
}

.headline__inputs {
  display: flex;
  gap: 32px;
  position: relative;
  height: 48px;
}

.headline__input {
  width: 280px;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 10px;
  border: 1px solid #A8A8A8;
}

.headline__input:hover{
    cursor: pointer;
}

.headline__inputs__imgs {
  position: absolute;
  left: 237px;
  top: 10px;
}

.headline__inputs__imgs__search:hover{
    background-color: #D1D1D1;
    border-radius: 50%;
    cursor: pointer;
}

.addTaskBtn {
  background-color: var(--darkBtn-color);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
}

.addTaskBtn:hover {
    background-color: var(--focus-color);
}

.container {
  display: flex;
  flex: 1;
  gap: 24px;
  padding-left: 48px;
  overflow-x: auto;
}

.container__content {
  display: flex;
  width: 252px;
  height: 100%;
  background-color: var(--bg-color);
  flex-direction: column;
  overflow-y: clip;
}

.content__headline {
  width: 252px;
  display: flex;
  height: 47px;
  justify-content: space-between;
  padding: 10px;
}

.content__headline__text {
  font-size: 20px;
  font-weight: 700;
}

.content__headline__btn {
  border: 2px solid black;
  border-radius: 8px;
    font-weight: 500;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: flex-end;
}

.content__headline__btn:hover {
  cursor: pointer;
  border-color: var(--focus-color);
    color: var(--focus-color);
}

.emptyContainer {
  width: 252px;
  margin-top: 10px;
  background-color: var(--board-tasks-bg);
  border-radius: 10px;
  border: 2px dashed #a8a8a8;
}

.emptyContainer__text {
  display: flex;
  font-size: 19px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.filledContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 24px;
  background-color: var(--sng-bg-color);
  padding: 16px;
  gap: 10px;
  width: 252px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.08));
}

.filledContainer:hover {
    cursor: pointer;
}

.filledContainer__category {
  border-radius: 8px;
  padding: 5px;
  margin-top: 10px;
  background-color: blue;
  width: fit-content;
  color: white;
  size: 16px;
}

.filledContainer__title {
  font-weight: bold;
}

.filledContainer__description {
  color: var(--text-grey);
}

.filledContainer__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statusLine {
  background-color: #f4f4f4;
  width: 55%;
  border-radius: 8px;
  height: 8px;
}

.progress-bar {
  background-color: #4589ff;
  height: 100%;
  border-radius: 8px;
}

.taskInfo {
  display: flex;
  justify-content: space-between;
}

.assignedTo {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.assigned {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  background-color: green;
  height: 32px;
  width: 32px;
  color: white;
  font-size: 12px;
  border: 1px solid white;
}
.assignedPlusOne {
  position: absolute;
  left: 24px;
  background-color: blue;
}
.assignedPlusTwo {
  position: absolute;
  left: 48px;
  background-color: red;
}
