*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
}

.page-box{
    padding-left: calc((100% - 1960px) / 2);
    padding-right: calc((100% - 1960px) / 2);
}

header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.header-name{
    font-size: 20px;
    font-weight: 400;
}

.header-top{
    flex: 1;
    height: 96px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 4px #0000001A;
    padding-left: 348px;
    padding-right: 40px;
}

.header-top-profile{
    display: flex;
    gap: 8px;
    align-items: center;
}

.help-icon{
    width: 20px;
}

.personal-icon{
    font-size: 20px;
    display: flex;
    height: 51.2px;
    width: 51.2px;
    justify-content: center;
    align-items: center;
    color: #29ABE2;
    font-weight: bolder;
    border-radius: 50%;
    border: 3px solid #2A3647;
}

.sidebar{
    position: absolute;
    top: 0;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 232px;
    height: 1024px;
}

.sidebar-icon{
    width: 100.03px;
    height: 121.97px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.sidebar-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    width: 232px;
}

.menu-box{
    display: flex;
    gap: 15px;
    flex-direction: column;
    height: 229px;
    justify-content: center;
}

.icon-sidebar {
    width: 30px;
    height: 30px;
}

.sidebar-menu{
    height: 46px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 56px;
    padding-right: 56px;
    cursor: pointer;
}

.sidebar-menu:hover{
    background-color: #2A3D59;
}

.sidebar-menu-active{
    background-color: #091931;
}

.text-sidebar{
    color: #CDCDCD;
    font-size: 16px;
    font-family: Inter;
}

.sidebar-policy{
    height: 317px;
    padding-left: 52px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.policy-color{
    padding-bottom: 8px;
    color: #a8a8a8;
    cursor: pointer;
}

.policy-color:hover{
    color: #29ABE2;
    font-weight: bold;
}