* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
  }

  :root {
    --bg-color: #f6f7f8;
    --sng-bg-color: #FFFFFF;
    --snd-color: #dbdbdb;
    --focus-color: #5ec0e9;
    --priority-urgent-bg: #ff3d00;
    --priority-medium-bg: #ffa800;
    --priority-low-bg: #7ae229;
    --error-color: #ffa0ac;
    --selected-hover-bg: #091931;
    --darkBtn-color: #2b3647;
  }

  .d-none{
    display: none;
  }