* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
  }

  :root {
    --bg-color: #f6f7f8;
    --sng-bg-color: #FFFFFF;
    --snd-color: #dbdbdb;
    --focus-color: #5ec0e9;
    --priority-urgent-bg: #ff3d00;
    --priority-medium-bg: #ffa800;
    --priority-low-bg: #7ae229;
    --error-color: #ffa0ac;
    --selected-hover-bg: #091931;
    --darkBtn-color: #2b3647;
    --seperator-snd-color: #9b9b9b;
    --input-border: #d1d1d1;
    --bg-sidebar: #2A3647;
    --contact-seperator: #e8e8e8;
    --email-color: #007cee;
    --contact-title-seperator: #29abe2; 
  }

  .d-none{
    display: none;
  }