* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
  }

  :root {
    --bg-color: #f6f7f8;
    --sng-bg-color: #FFFFFF;
    --snd-color: #dbdbdb;
    --focus-color: #5ec0e9;
    --priority-urgent-bg: #ff3d00;
    --priority-medium-bg: #ffa800;
    --priority-low-bg: #7ae229;
    --error-color: #ffa0ac;
    --selected-hover-bg: #091931;
    --darkBtn-color: #2b3647;
    --seperator-snd-color: #9b9b9b;
    --input-border: #d1d1d1;
    --bg-sidebar: #2A3647;
    --contact-seperator: #e8e8e8;
    --email-color: #007cee;
    --contact-title-seperator: #29abe2; 
    --contacts-overlay-bg: #b8b9ba;
    --contacts-input-focus: #94d5f0;
    --board-tasks-bg: #E7E7E7;
    --text-grey: #A8A8A8;
    --choose-shadow: #babbbc;
    --choose-hover-bg: #eeeeee;
  }

  .d-none{
    display: none;
  }

  .d-nonevip{
    display: none !important;
  }




/* Obacht, ich wollte nur mal was ausprobieren, was ich gefunden habe  */

.initials_color_0 {background-color: #FF7A00;}
.initials_color_1 {background-color: #FF5EB3;}
.initials_color_2 {background-color: #6E52FF;}
.initials_color_3 {background-color: #9327FF;}
.initials_color_4 {background-color: #00BEE8;}
.initials_color_5 {background-color: #1FD7C1;}
.initials_color_6 {background-color: #FF745E;}
.initials_color_7 {background-color: #FFA35E;}
.initials_color_8 {background-color: #FC71FF;}
.initials_color_9 {background-color: #FFC701;}
.initials_color_10 {background-color: #0038FF;}
.initials_color_11 {background-color: #C3FF2B;}
.initials_color_12 {background-color: #FFE62B;}
.initials_color_13 {background-color: #FF4646;}
.initials_color_14 {background-color: #FFBB2B;}

.user_color_0 {color: #FF7A00;}
.user_color_1 {color: #FF5EB3;}
.user_color_2 {color: #6E52FF;}
.user_color_3 {color: #9327FF;}
.user_color_4 {color: #00BEE8;}
.user_color_5 {color: #1FD7C1;}
.user_color_6 {color: #FF745E;}
.user_color_7 {color: #FFA35E;}
.user_color_8 {color: #FC71FF;}
.user_color_9 {color: #FFC701;}
.user_color_10 {color: #0038FF;}
.user_color_11 {color: #C3FF2B;}
.user_color_12 {color: #FFE62B;}
.user_color_13 {color: #FF4646;}
.user_color_14 {color: #FFBB2B;}

/* Endet hier */