body{
    background-color: #F6F7F8;
    padding-left: calc((100% - 1960px) / 2);
    padding-right: calc((100% - 1960px) / 2);
}

.flex-column30{
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 328px;
    padding-top: 110px;
}

.center-gp80{
    display: flex;
    align-items: center;
    gap: 80px;
}

.summary-headline{
    height: 73px;
    width: 625px;
}

.center-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-360{
    font-weight: 700;
    font-size: 61px;
}

.text-headline{
    font-size: 27px;
    font-weight: 400;
}

.seperator{
    height: 59px;
    width: 3px;
    background-color: #29ABE2;
}

.seperator-urgent{
    height: 102.02294921875px;
    width: 2px;
    background-color: #D1D1D1;
}

.checkbox{
    height: 560px;
    width: 562px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkboxtodo{
    width: 264px;
    height: 168px;
}

.checkboxurgent{
    padding-right: 48px;
    padding-left: 48px;
    width: 560px;
    height: 168px;
}

.checkboxoverall{
    width: 168px;
    height: 168px;
}

.checkboxbottom{
    text-align: center;
    width: 83px;
    height: 125px;
}

.summary-box{
    gap: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    color: #2A3647;
}

.summary-box:hover{
    background-color: #2A3647;
    color: white;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.summary-urgent{
    height: 60px;
}

.space-evenly{
    justify-content: space-evenly;
}

.flex-gap18{
    gap: 18px;
    display: flex;
    align-items: center;
}

.greeting-box{
    width: 338px;
    height: 56px;
}

.greeting{
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.todone-icon{
    height: 69px;
    width: 69px;
}

.summary-number{
    color: black;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

.summary-text{
    font-size: 20px;
    color: #2A3647;
    font-weight: 400;
}

.summary-box:hover .summary-text{
    color: white;
}

.summary-box:hover .summary-number{
    color: white;
}

.summary-box:hover .seperator-urgent{
    background-color: white;
}