body{
    background-color: #F6F7F8;
}

.summary-headline{
    position: absolute;
    top: 206px;
    left: 328px;
    height: 73px;
    width: 625px;
}

.center-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-360{
    font-weight: 700;
    font-size: 61px;
}

.text-headline{
    font-size: 27px;
    font-weight: 400;
}

.seperator{
    height: 59px;
    width: 3px;
    background-color: #29ABE2;
}

.checkbox{
    position: absolute;
    height: 560px;
    width: 562px;
    top: 335px;
    left: 328px;
}

.checkboxtodo{
    width: 560px;
    height: 168px;
}

.checkboxurgent{
    width: 560px;
    height: 168px;
}

.checkboxoverall{
    width: 560px;
    height: 160px;
}

.todone{
    width: 264px;
    height: 168px;
}

.greeting-box{
    position: absolute;
    top: 547.5px;
    left: 968px;
    width: 338px;
    height: 56px;
}

.greeting{
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}